<% provide(:title, "Edit Data") %> 
<h1>Edit the data</h1>

<div class="row">
  <div class="span6 offset3">
      
      <%= form_for(:datafile, url: datafiles_path) do |f| %>

      <%= f.label :Field1 %>
      <%= f.text_field :Info1%>

      <%= f.label :Field2 %>
      <%= f.text_field :Info2%>

      <%= f.label :Category %>
      <%= f.text_field :Category %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

     <% end %>

  </div>
</div>

<!-- this thing is creating rather then updating, don't know why. must look into it -->

   