<%= form_for(@datafile) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new data..." %>
  </div>
      <%= f.text_area :content, placeholder: "Add info..." %>
  </div>
      <% %w{Book Movie Food}.each do |value|-%>
    <% f.radio_button :assistanttype, value %> <% value %><br />
    <% end -%> 
  </div>
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>

<!-- f.radio_button or f.check_box -->

