
<% provide(:title, "Recommendations") %>
<div class="row">
  <aside class="span4">
    <section>
      <body>
      
   <%= "You linked to " %><%= "Zaynub" %> <%= ". Based on that I think you would like " %> <%= "Farnaz" %> 
       <br>
     </body>
    </section>
  </aside>
  </div>
</div>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%=  %>
      </h1>
    </section>
    <section>
      <%= "render 'users/new'" %>
    </section>
  </aside>
  <div class="span8">
    <%= "render 'users/new1'"%>
    <%  %>

  </div>
</div>