<% provide(:title, 'Add Links') %>
<h2>Add Links</h2>

<div class="row">
  <div class="span6 offset3">

    <%= form_for(:links_table) do |f| %>
      <%= render 'shared/linkerror_messages', object: f.object %>

      <%= f.label :Link1 %>
      <%= f.collection_select :link1, Datafile.find(:all), :id, :Info1, :prompt => true  %>

      <%= f.label :Link2 %>
      <%= f.collection_select :link2, Datafile.find(:all), :id, :Info1, :prompt => true  %>


      <%= f.submit "Create link", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
